* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", serif; /* PREETTYY */
    hyphens: auto;
    text-align: justify;
}

/* Color Palette */
:root {
    --color-1: #DAD7CD;
    --color-2: #A3B18A;
    --color-3: #588157;
    --color-4: #3A5A40;
    --color-5: #344E41;
    --color-shadow: #000000;
}

/*************** HEADER ***************/

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: var(--color-1);
    background-color: var(--color-5);
    font-size: 20px;
    box-shadow: 0 -6px 10px 5px var(--color-shadow);
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid var(--color-1);
} a:hover {
    font-weight: bold;
    transform: scale(1.1);
  }

.plane-logo {
    width: 140px;
    height: 80px;
}

/*************** HEADER ***************/

main {
    color: var(--color-5);
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px; /**** gap between sections ****/
    padding-bottom: 50px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    max-width: 1200px;
    padding: 25px;
    gap: 40px; /**** gap between section header and section content ****/
}

.graph-2 .content,
.graph-3 .content{
    flex-direction: column;
    width: 100%;
}

.graph-2 .left,
.graph-2 .right,
.graph-3 .left,
.graph-3 .right {
    width: 100%;
}

.graph-5 .content {
    flex-direction: column;
}

.graph-5 .left,
.graph-5 .right {
    width: 100%;
}

.graph-5 .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.gauge-height {
    font-size: 30px;
    font-weight: bold;
    transform: translateY(-100px);
}

.killed-animals {
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-100px);
}

#gauge {
    width: 100%;
    height: 100%;
}

#slider {
    transform: translateY(-100px);
    background-color: var(--color-3);
}

.slider-container {
    width: 50%;
}

#map {
    height: 400px;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    gap: 50px; /**** gap between content ****/
}

.left, .right {
    width: 50%;
}

/*************** FOOTER START ***************/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--color-1);
    background-color: var(--color-5);
    box-shadow: 0 6px 10px 5px var(--color-shadow);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    gap: 80px;
    padding: 50px 0;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2px;
    width: 30%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    width: 50%;
}

.footer-right span,
.footer-left span {
    font-weight: bold;
}

/*************** FOOTER END ***************/

/*************** MEDIA START ***************/
@media screen and (max-width: 900px) {
    .content {
        flex-direction: column;
        width: 100%;
    }

    .left, .right {
        width: 100%;
    }

    header div:nth-child(2) {
        display: none;
    }

    .graph-4 .content .left {
        align-self: center;
        max-width: 75%;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
    }

    .footer-left,
    .footer-right {
        align-items: center;
        width: 100%;
    }

}
/*************** MEDIA END ***************/